* {
    box-sizing: border-box; /* Inclui padding e borda nas dimensões */
}

body{

    
    margin: 0;
    background-color: #D0CBC7;
}

@font-face {
    font-family: 'Koulen';
    src: url('Koulen-Regular.ttf') format('truetype');
    font-weight: 200;  /* normal */
    font-style: normal;
}
li{
    font-size: 27px;
}

h2{
    font-family: 'Koulen';
    color: #5F1A1F;
    font-size: 50px;
    margin-left: 5%;
    margin-bottom: -1%;
}

p{
 font-size: 27px;
 margin-left: 5%;
 margin-right: 5%;
 text-align: justify;
}

/* ---------------------------------------------NAVEBARRA--------------------------------------------- */
.navbar{
    background-color: #5F1A1F; /* Cor da barra de navegação */
    width: 100%;
    padding: 7px ;
}
.navbar li{
    margin-right: 3%;
}
.navbar ul {
  color: #D0CBC7;
  text-align: right;
   
}

.navbar ul > li { 
    display: inline-block;
    position: relative;
    color: D0CBC7;
    cursor: pointer;

}

.submenu {
    
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    background-color: #D0CBC7; /* Cor do submenu */
    padding: 10px;
    top: 100%; /* Para aparecer logo abaixo do item pai */
    width: 160px;
    
}

.navbar ul > li:hover .submenu {
    display: block; /* Mostra o submenu ao passar o mouse */
}

.submenu li {
    color: white;
    font-size: 20px;
    text-align: right;
}


/* --------------------------------------------- */
.titulo{
    width: 100%;
}
/* --------------------------------------------- */
.conteudo{
    width: 80%;
    margin: auto;
}
 /* -----------------------ONDE ACONTECEU ----------------------------- */

.ondeAconteceu{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}
.ondeAconteceu img{
    width: 30%;
    box-shadow: 1em 1em #B89D79;
    display: flex;
    align-items: center;
    margin-top: 8%;
}
.ondeAconteceutxt{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 18px;
    width: 40%;
}
.ondeAconteceutxt ul li{
    margin-left: 5%;
}

.ondeAconteceutxt h2{
    margin-left: 0%;
}

/* --------------------------------------------- */

.corredorimg img{
    width: 100%; /* Defina uma largura fixa (ou percentual) para as imagens */
    margin-top: 7%;
    
}

/* -------------------------------------------------- */
.conteiner1{
    border-radius: 30px;
    margin: 5%;
    
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #DFD4BA;
    
    /* height:auto ; */
}
.conteiner1 img{
    border-radius: 20Px;
    width: 400px;
    height: 200px;
    box-shadow: 0.9em 1em 0.5em  #00000059;

}
.conteiner1 h3{
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: -10px;

}
/* .conteiner1 .conteiner2 p{
    font-size: 20px;
} */

.conteiner2{
    border-radius: 30px;
    margin: 5%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #B89D79;
    margin-top: 0px;
    
    /* height:auto ; */
}
.conteiner2 img{
    border-radius: 20Px;
    width: 400px;
    height: 200px;
    box-shadow: 0.9em 1em 0.5em  #00000059;
    margin-right: 2%;

}
.conteiner2 h3{
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: -10px;
}

/* .linha{
    display: flex;
    flex-direction: row;
} */

/* -------------------------------------------------- */
.brasilCome{
    text-align: center;
    
}

.brasilTex{
    
    margin: 2%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 0px;
}
.brasilTex p{
    text-align: left;
    width: 700%;
    margin-left: 20px;
}
.brasilTex img{
    width: 560%;
    
    
}
.arma{
    margin: 2%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.armaimg{
    width: 48%;
    margin-right: 30px;
    
}
.armaimg2{
    width: 43%;
    
}
.armaimg3{
    margin-bottom: 50px;
    
}
.tituarm{
    margin-bottom: 20px;
}
.armabloco{
    border-radius: 30px;
    margin: 8%;
    margin-right: 0%;
    width: 670px;
    padding: 4px;
    background-color: #B89D79;
    margin-top: 0px;
}

.armabloco li{
    color: white;
}

.afetados{
    
    margin: 4%;
    margin-top: 0%;
    margin-right: 0%;
    width: 1100px;
    padding: 4px;
    
    margin-top: 0px;
}
.coisa{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.coisa img{
    border-radius: 20Px;
    width: 400px;
    height: 300px;
    margin-right: 8%;
    box-shadow: 0.9em 1em 0.5em  #00000059;
    margin-left: 80px;
}
.conteiner3{
    border-radius: 30px;
    margin: 5%;
    width: 500px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #DFD4BA;
}
.conteiner3 h3{
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: -10px;

}

.acaba{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: white;
    font-family: joan;
}
.curio{
    margin: 8%;
    margin-right: 0%;
    color: white;
    padding: 4px;
    background-color: #4B3837;
    margin-top: 0px;
    padding-bottom: 70px;
}
.curio li{
    margin-left: 8%;
}
.fontes{
    margin: 4%;
    margin-top: 0%;
    margin-right: 0%;
    width: 1100px;
    padding: 4px;
    margin-top: 0px;
}
a{
    color: white;
}